{{ template "header" }}

<div class="about_bg">&nbsp;</div>
<div>
    <h4>The aMazing Mazes</h4>
		<p>
			Here at Mazing, we love mazes. We love to create aesthetically pleasing mazes that are both fun and challenging to play with. Nothing like a good maze brings out the inner child in us.
		</p>
    <p>
    Our team has some very exciting features planned, stay tuned. We welcome your questions and feedback! Contact us at admin at mazing.cc.
    </p>
</div>


{{ template "footer" }}
