{{ template "header" }}

<div>
    <img src="/static/images/about.png" />
</div>
<div>
    <h4>About Mazing.cc</h4>
    <p>
    To provide a place where users can easily generate <i>amazing</i> mazes of various size and styles for endless entertainment!
    </p>
    <p>
    Our team has some very exciting features planned, stay tuned. We welcome your questions and feedback! Contact us at admin at mazing.cc.
    </p>
</div>


{{ template "footer" }}
