{{ define "header" }}
<!DOCTYPE html>
<html>
    <head>
        <title>Mazing</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <link rel="stylesheet" href="/static/css/style.css?v=1.0">
    </head>
<body>
<div class="nav">
    <div class="logo">Mazing.cc</div>
    <div class="setting"><a href="javascript:void(0);" id="settingModal" title="aspect ratio"><i class="material-icons">aspect_ratio</i></a></div>
</div>
<div class="content">
{{ end }}
