{{ define "header" }}
<!DOCTYPE html>
<html>
    <head>
        <title>Mazing</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
<body>
<div class="nav">
<b>Mazing</b>
</div>
{{ end }}
