{{ template "header" }}

  <dialog class="mdl-dialog" style="width:400px">
    <h5 class="mdl-dialog__title">Setting</h5>
    <div class="mdl-dialog__content">
        <form id="frmSize" action="/home" method="post">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col"><span class="mdl-switch__label">Height</span></div>
          <div class="mdl-cell mdl-cell--6-col"><input class="mdl-slider mdl-js-slider" type="range" min="3" max="100" value="{{ .Height }}" tabindex="0" step="1" id="height" name="height"></div>
          <div class="mdl-cell mdl-cell--2-col"><span id="heightLabel" class="mdl-switch__label">{{ .Height }}</span></div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col"><span class="mdl-switch__label">Width</span></div>
          <div class="mdl-cell mdl-cell--6-col"><input class="mdl-slider mdl-js-slider" type="range" min="3" max="100" value="{{ .Width }}" tabindex="0" step="1" id="width" name="width"></div>
          <div class="mdl-cell mdl-cell--2-col"><span id="widthLabel" class="mdl-switch__label">{{ .Width }}</span></div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col"></div>
          <div class="mdl-cell mdl-cell--8-col"><label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="weave">
              <input type="checkbox" id="weave" name="weave" class="mdl-switch__input" {{ .WeaveChecked }}>
              <span class="mdl-switch__label">Weave the passages</span>
            </label></div>
        </div>
        </form>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button" id="ok">Ok</button>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </dialog>

	<table class="{{ .TableCss }}">
		{{ range $row := .Cells}}
		<tr>
            {{ range $cell := $row}}
                <td class="{{$cell.CssClasses}}"></td>
			{{ end }}
		</tr>
		{{ end}}
	</table>
  
  <a href="javascript:void(0);" id="settingModal">setting</a>&nbsp;
  {{ if not .WeaveChecked }}
  <a href="javascript:void(0);" id="solve">solve</a>&nbsp;
  {{ end }}
  <a href="/home">new</a>&nbsp;
	<div class="gray">generated w/ {{ .Name }}</div>

    <script>
	    var dialog = document.querySelector('dialog');
		var showDialogButton = document.querySelector('#settingModal');
		if (! dialog.showModal) {
	        dialogPolyfill.registerDialog(dialog);
		}
		showDialogButton.addEventListener('click', function() {
            dialog.showModal();
		});
		dialog.querySelector('.close').addEventListener('click', function() {
            dialog.close();
		});
		document.querySelector('#height').addEventListener('input', function() {
			document.getElementById("heightLabel").innerHTML = this.value
		});
		document.querySelector('#width').addEventListener('input', function() {
			document.getElementById("widthLabel").innerHTML = this.value
		});
        document.querySelector('#ok').addEventListener('click', function() {
            document.querySelector('#frmSize').submit();
        });
		document.querySelector('#solve').addEventListener('click', function() {
        	var paths = document.getElementsByClassName("p");
        	var i;
			for (i = 0; i < paths.length; i++) {
				paths[i].style.backgroundColor = "#eee";
			}
		});
    </script>			
{{ template "footer" }}
