{{ template "header" }}

  <dialog class="mdl-dialog">
    <h5 class="mdl-dialog__title">Size</h5>
    <div class="mdl-dialog__content">
        <form id="frmSize" action="/home" method="post">
            <h4>Height: <span id="heightLabel">{{ .Height }}</span></h4>
            <input class="mdl-slider mdl-js-slider" type="range" min="10" max="100" value="{{ .Height }}" tabindex="0" step="10" id="height" name="height">

            <h4>Width: <span id="widthLabel">{{ .Width }}</span></h4>
            <input class="mdl-slider mdl-js-slider" type="range" min="10" max="100" value="{{ .Width }}" tabindex="0" step="10" id="width" name="width">
        </form>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button" id="ok">Ok</button>
      <button type="button" class="mdl-button close">Cancel</button>
    </div>
  </dialog>

	<table>
		{{ range $row := .Cells}}
		<tr>
            {{ range $cell := $row}}
                <td class="{{$cell.CssClasses}}"></td>
			{{ end }}
		</tr>
		{{ end}}
	</table>

{{ template "footer" }}
