.nav{
	width: 98%;
	height: 20px;
  border-bottom: 1px solid gray;
  padding:10px;
	margin-bottom: 20px;
}

.logo {
	width: 50%;
	float: left;
	font-weight: bold;
}

.setting {
	overflow: hidden;
	float: right;
}

.content {
	background-color: red
	padding-left: 10px;
	margin: 10px;
}
/*
*/
.cb {
    border-collapse: collapse;
}
.cb2 {
    border-collapse: separate;
    border-spacing: 0px 0px;
}
.north { 
	border-top: 1px solid gray;
}
.south {
	border-bottom: 1px solid gray;
}
.east {
	border-right: 1px solid gray;
}
.west {
	border-left: 1px solid gray;
}

.north2 { 
	border-top: 2px solid rgb(255,64,129);
}
.south2 {
	border-bottom: 2px solid rgb(255,64,129);
}
.east2 {
	border-right: 2px solid rgb(255,64,129);
}
.west2 {
	border-left: 2px solid rgb(255,64,129);
}
.gray {
	color: #DEDEDE;
}
.gray_bg {
	background-color: #eee;
}

.td {
	width: 10px;
	height: 10px;
}
.sp {
	width: 2px;
	height: 2px;
}
.about_bg{
	height: 272px;
	background-image: url("/static/images/about.png");
	background-repeat: repeat-x;
	opacity: 0.5;
}
